{% extends 'base.html' %}

{% block content %}
  <section class="inner-page">
    <div class="container">
      <h1>{{ cookie.name }}</h1>
      {% if cookie.photo %}
        <img src="{{ cookie.photo.url }}" alt="{{ cookie.name }}" />
      {% endif %}

      <p>
        <strong>Категория:</strong> {{ cookie.category.name }}
      </p>
      <p>
        <strong>Описание:</strong> {{ cookie.description }}
      </p>
      <p>
        <strong>Цена:</strong> {{ cookie.price }} руб.
      </p>

      <p>
        <strong>Теги:</strong>
      </p>
      <ul>
        {% for tag in cookie.tags.all %}
          <li>
            <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>
          </li>
        {% endfor %}
      </ul>

      <p>
        <strong>Пищевая ценность:</strong>
      </p>
      <ul>
        <li>Калории: {{ cookie.nutrition.calories }}</li>
        <li>Белки: {{ cookie.nutrition.proteins }}</li>
        <li>Жиры: {{ cookie.nutrition.fats }}</li>
        <li>Углеводы: {{ cookie.nutrition.carbs }}</li>
      </ul>
    </div>
  </section>
{% endblock %}
